<div class="main-wrapper">
  <div class="container">
    <div class="weather-side">
      <div class="weather-info--wrapper">
        <div *ngIf="location && weather" class="date-container">
          <h2 class="date-dayname">{{weather.date | date:'EEEE'}}</h2>
          <span class="date-day">{{weather.date | date}}</span>
          <span class="location">{{location.city}}</span>
        </div>
        <div *ngIf="location && weather" class="weather-container">
          <div class="t">
            <img src="{{weather.icon}}" alt="{{weather.icon}}"/>
          </div>
          <div class="t">
            <h1 class="weather-temp">{{weather.temp}}°C</h1>
            <h3 class="weather-desc">{{weather.description}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="info-side">
      <div *ngIf="location && weather" class="today-info-container">
        <div class="today-info">
          <div class="humidity"><span class="title">Humidity </span><span class="value">{{weather.humidity}} %</span>
            <div class="clear"></div>
          </div>
          <div class="wind"><span class="title">Wind </span><span class="value">{{weather.windSpeed}} m/s</span>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="location-container">
        <div class="source-radio_container">
          <label id="radio-group-label">Select a source:</label>
          <mat-radio-group
            aria-labelledby="radio-group-label"
            class="radio-group"
            [(ngModel)]="selectedSource"
            (change)="changeSource($event)">
            <mat-radio-button class="radio-button" *ngFor="let source of sources" [value]="source">
              {{source}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <app-search (whenChange)="changeLocation($event)"></app-search>
      </div>
    </div>
  </div>
</div>
